<div class="d-flex container-fluid p-0 vh-100">
  <div class="side-bar col-2">
    <app-avatar type="Circle" [width]="80"></app-avatar>
  </div>

  <div class="col-8">
    <router-outlet></router-outlet>
  </div>

  <div class="side-bar col-2">
    a
  </div>
</div>


