$dark-mode-background-1: #181818;
$dark-mode-background-2: #212121;

$dark-mode-card-header-background: #151515;
$dark-mode-card-body-background: #353535;
$card-radius: 8px;

$dark-mode-text-color: #FFFFFF;
$dark-mode-secondary-text-color: #B0B0B0;

$dark-mode-button-background: #D21414;
$button-radius: 8px;
$button-radius-2: 16px;

$default-radius: 8px;
$default-radius-2x: 16px;



