/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "bootstrap-grid.min.css";

* {
  font-family: 'Roboto Light', sans-serif;
}

body {
  margin: 0;
}

//region spacing-mixin...
$amount: 5;
$space-step: 8px;

@mixin spacing{
  @for $i from 0 through $amount {
    .m-#{$i}, .ml-#{$i}, .mx-#{$i} {
      margin-left: $space-step * $i;
    }
    .m-#{$i}, .mr-#{$i}, .mx-#{$i} {
      margin-right: $space-step * $i;
    }
    .m-#{$i}, .mt-#{$i}, .my-#{$i} {
      margin-top: $space-step * $i;
    }
    .m-#{$i}, .mb-#{$i}, .my-#{$i} {
      margin-bottom: $space-step * $i;
    }
    .p-#{$i}, .pl-#{$i}, .px-#{$i} {
      padding-left: $space-step * $i;
    }
    .p-#{$i}, .pr-#{$i}, .px-#{$i} {
      padding-right: $space-step * $i;
    }
    .p-#{$i}, .pt-#{$i}, .py-#{$i} {
      padding-top: $space-step * $i;
    }
    .p-#{$i}, .pb-#{$i}, .py-#{$i} {
      padding-bottom: $space-step * $i;
    }
  }
}
@include spacing;
//endregion

//region width-height mixin...
@mixin width-height {
  @for $i from 0 through 100 {
    .w-#{$i}{
      width: percentage($i / 100) !important;
    }
    .h-#{$i}{
      height: percentage($i / 100) !important;
    }
    .vh-#{$i}{
      height: calc(#{$i} * 1vh) !important;
    }
    .vw-#{$i}{
      width: calc(#{$i} * 1vw) !important;
    }
  }
}
@include width-height;
//endregion

.dark {
  background-color: $dark-mode-background-1;
  color: $dark-mode-text-color;

  .side-bar {
    background-color: $dark-mode-background-2;
  }

  .card {
    border-radius: $card-radius;

    .card-header {
      background-color: $dark-mode-card-header-background;
      font-weight: bold;
    }

    .card-body {
      background-color: $dark-mode-card-body-background;
    }
  }

  .secondary-text {
    color: $dark-mode-secondary-text-color;
  }

  .btn {
    background-color: $dark-mode-button-background;
    border-radius: $button-radius;
  }

  .btn-outlined {
    background-color: transparent;
    border: 2px solid $dark-mode-button-background;
    border-radius: $button-radius;
    color: $dark-mode-button-background;
    transition: .25s;

    &:hover {
      background-color: $dark-mode-button-background;
    }
  }
}
