<!--<img *ngIf="src; else generatedLogo" [src]="src" [ngStyle]="[{'border-radius.px': radius}, {'width.px': width}]" alt="..." />-->
<!--<ng-template #generatedLogo>-->
<!--  <div [ngStyle]="[{'border-radius.px': type === 'Circle'}, {'width.px': width}, {'background-color': generateRandomColor()}]">-->
<!--    <img src="../../../assets/kiwi.svg" alt="kiwi" />-->
<!--  </div>-->
<!--</ng-template>-->

<div class="d-flex justify-content-center align-items-center" [ngStyle]="{'border-radius.%': 50, 'width.px': width, 'height.px': width, 'background-color': getRandomColor()}">
    <img [width]="width - 15" [height]="width - 15" [ngStyle]="{'fill': '#123123'}" src="../../../assets/kiwi.svg" alt="kiwi"/>
</div>
